@import url(reset.css);

.header {
    width: 90%;
    max-width: 980px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 0 auto;
}

.logo {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    transition: 0.3s;
    padding: 10px;
    gap: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.758);
}

.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.menu li:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    transform: translateY(-2px);
}

.menu a:hover {
    text-decoration: underline;
}

#menutoggle {
    display: none;
    color: white;
    font-size: 2.5rem;
    padding: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 50px;
}

#menutoggle:hover {
    background-color: #00000031;
}

.container {
    width: 90%;
    max-width: 980px;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    grid-template-rows: 200px 600px;
    grid-template-areas: "c c "
        "g g"
        "g g"
}

.carrossel {
    grid-area: c;
    display: flex;
    width: 90%;
    max-width: 980px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.container img {
    width: 140px;
    cursor: pointer;
}

.container img:hover {
    border: 3px solid rgba(0, 0, 0, 0.506);
}

.content2 {
    width: 90%;
    max-width: 980px;
    grid-area: g;
    margin-top: 80px;
}


#grid {
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(4, minmax(250px, 1fr));
    gap: 70px 10px;
    place-items: center;
    justify-content: center;
}

#grid img {
    background-color: rgba(0, 0, 0, 0.513);
    padding: 10px 30px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

#grid img:hover {
    border: 1px solid rgba(255, 255, 255, 0.65);
}

.sec1 {
    text-align: center;
    width: 90%;
    max-width: 915px;
    margin: 0 auto;
    position: absolute;
    top: 390px;
}

.sec1 h2 {
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
}

.sec2 {
    text-align: center;
    width: 90%;
    max-width: 915px;
    margin: 0 auto;
    position: absolute;
    top: 710px;
}

.sec2 h2 {
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
}

.sec3 {
    text-align: center;
    width: 90%;
    max-width: 915px;
    margin: 0 auto;
    position: absolute;
    top: calc(710px + 320px);
}

.sec3 h2 {
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
}

.sec4 {
    text-align: center;
    width: 90%;
    max-width: 915px;
    margin: 0 auto;
    position: absolute;
    top: calc(1030px + 320px);
}

.sec4 h2 {
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
}

#about {
    width: 90%;
    max-width: 980px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
    padding: 40px;
}

#about h1 {
    color: white;
    font-size: 3.4rem;
    text-shadow: 0px 0px 10px black;
}

#about p {
    box-shadow: 0px 0px 3px black;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 200;
    transition: all 1s;
    cursor: pointer;
}

.social {
    width: 90%;
    max-width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 0 auto;
}

.social ul {
    display: flex;
    gap: 50px;
}

.social li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5px;
    padding: 10px;
    transition: all 0.5s;
}

.social li a {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

.social li:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    transform: translateY(-2px);
}

.social a:hover {
    text-decoration: underline;
}

#about p:hover {
    transform: scale(1.1);
}

.rodape {
    text-align: center;
    grid-row-start: 4;
}

.rodape p {
    width: 90%;
    max-width: 980px;
    padding: 20px;
    margin: 0 auto;
    color: white;
    font-size: 2.4rem;
}

@media (max-width:690px) {
    .container{
        display: flex;
        margin: 0 auto;
    }

    .content2{
        margin: 0;
    }

    .carrossel{
        display: none;
    }

    #grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }

    .sec1, .sec2, .sec3, .sec4 {
        display: none;
    }
}

@media (max-width:980px) {

    ul.menu {
        display: none;
    }

    #menutoggle {
        display: block;
    }

    #about {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 70%;
    }

    .social ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
    }
}

@media (max-width:1024px) {

    .carrossel :nth-child(1) {
        display: none;
    }

    .sec1, .sec2, .sec3, .sec4 {
        width: 70%;
    }

    #grid {

        grid-template-columns: repeat(3, minmax(220px, 1fr));
        grid-template-rows: repeat(3, minmax(220px, 1fr));
    }

    #grid img {
        width: 220px;
    }

    #grid :nth-child(n+13) {
        display: none;
    }
}