@import url(reset.css);

.header {
    background: rgb(32, 7, 38);
    background: linear-gradient(90deg, rgba(32, 7, 38, 1) 35%, rgba(74, 18, 89, 1) 75%, rgba(98, 39, 115, 1) 100%);
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.701);
}

.logo {
    width: 140px;
    height: 50px;
    padding: 5px;
    margin-left: 20px;
    transform: translateX(20px);
    transition: 1s;
    cursor: pointer;
}

#nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    padding: 10px;
    color: rgb(255, 255, 255);
    list-style: none;
    text-transform: uppercase;
    transition: 0.3s;
}

#nav a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 2px black;
}

#nav li:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    transform: translateY(-2px);
}

#nav a:hover {
    text-decoration: underline;
}

#btn-mobile {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr 500px 1fr;
}

.arealogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;
    height: 400px;
    background-color: #350c40a3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.701);
    margin-top: 60px;
    border-radius: 15px;
    transform: translateY(10px);
    transition: 2s ease-in;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    transform: translateY(10px);
    transition: 3s ease;
}

.content label {
    color: rgba(255, 255, 255, 0.663);
    font-size: 24px;
    padding: 3px 0px;
}

.content input {
    width: 250px;
    height: 40px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.896);
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.login {
    background: transparent;
    border: 2px solid var(--color01);
    color: rgba(255, 255, 255, 0.558);
    font-size: 16px;
    font-weight: bolder;
    width: 250px;
    height: 45px;
    margin-top: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.4s;
}

.login:hover {
    background-color: var(--color05);
    color: rgba(255, 255, 255, 0.685);
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.newuser {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    height: 50px;
    margin-top: 10px;
}

.forgot {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.835);
    transition: 0.3s;
    padding: 10px;
}

.forgot:hover {
    background-color: rgba(255, 255, 255, 0.153);
    border-radius: 5px;
    transform: translateY(-3px);
}

.new {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.835);
    transition: 0.3s;
    padding: 10px;
}

.new:hover {
    background-color: rgba(255, 255, 255, 0.153);
    border-radius: 5px;
    transform: translateY(-3px);
}

/* tela um pouco maiores*/
@media (max-width: 600px) {
}

    /* tela menores */
    @media (max-width:450px) {
        .container {
            display: grid;
            grid-template-columns: 1fr 375px 1fr;
            grid-template-rows: 1fr 500px 1fr;
        }

        .arealogin {
            width: 300px;
            height: 400px;
            margin: 60px auto;
        }

        .content {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0px 5px;
        }
    }