@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font01: font-family: 'Poppins', sans-serif;
    --color01: #A192A6;
    --color02: #622773;
    --color03: #4A1259;
    --color04: #350C40;
    --color05: #200726;
}

html body {
    background: rgb(32, 7, 38);
    background: linear-gradient(90deg, rgba(32, 7, 38, 1) 35%, rgba(74, 18, 89, 1) 75%, rgba(98, 39, 115, 1) 100%);
    font-family: 'Poppins', sans-serif;
}